<div class="row">
  <div class="span12">
	<b>Search Courses</b>
	<%= form_tag student_path, :method => :get do %>
      	  <%= text_field_tag :search, params[:search] %>
 	  <%= select_tag :search_type, options_for_select(['Search by Course', 'Search by Mentor'], params[:search_type]), {:search_type => 'Search by Course'} %>
	  <button type="button" class="btn btn-default btn-sm"><%= submit_tag "Search", :name => nil %></button>
	<% end %>
  </div>
</div>

<div class="span6">
  <% if @typein != nil %>
    <% if @course_list.blank? %>
        <b>No Match Results!</b>
    <% else %>
	<b>Search Results</b>
        <%= render "search" %>
        <%= will_paginate @course_list, :param_name => 'search_page' %>
    <% end %>
  <% end %>
  <br />
</div>

<div class="span6">
<%= render "mycourse" %>
</div>

<div class="span6">
<b>All Courses</b>
<%= stylesheet_link_tag 'gmaps4rails' %>
<%=  gmaps4rails(@allcourses.to_gmaps4rails) %>
	
<%= render "courses" %>
<%= will_paginate @allcourses, :param_name => 'courses_page' %>
</div>

</div>
  

<div class="span3">
        <b>My Cart</b>
        <table>
        <tr>
                <td>Course Name</td>
        </tr>
        <% @my_cart.each do |course| %>
        <tr>    
                <td><%= course.name %></td> 
        </tr>
        <% end %>
        </table>
        <td> Total price is <%= @total_price %></td>
        <%= button_to("Empty Cart", {:controller => "students", :action => "EmptyCart"}, :remote => false, confirm: 'Are you sure to empty the cart?') %>
        <%= button_to("Checkout", credit_cards_url, method: :get, :remote => false) %>
</div>

</div>

