<div class="search-type row">
  <div class="span12">
	<%= form_tag student_path, :method => :get do %>
        <table class="search-table">
          <tr>
            <td style="height: 50px"><%= text_field_tag :search, params[:search], class: "search-query span7", placeholder: "Search courses or mentors here..."%></td>
            <td style="width: 120px"></td>
            <td style="height: 50px"><button type="submit" class="btn btn-large btn-primary" id="search_button">Search</button></td>
          </tr>
          <tr>
            <td><%= select_tag :search_type, options_for_select(['Search by Course', 'Search by Mentor'], params[:search_type]), {:search_type => 'Search by Course'} %></td>
          </tr>
        </table>
	<% end %>
  </div>
</div>
<div class="ipad tabbable tabs-left">
  <ul class="nav nav-tabs" id="myTab">
    <li class="active">
		<a href="#mycourse" data-toggle="tab"><h4>My courses</h4></a>
	</li>
    <li>
		<a href="#allcourse" data-toggle="tab"><h4>All courses</h4></a>
	</li>
    <li>
		<a href="#searchresult" data-toggle="tab" id="search_tab"><h4>Search results</h4></a>
	</li>
    <li>
		<a href="#mycart" data-toggle="tab"><h4>My cart</h4></a>
	</li>
  </ul>  
  <div class="tab-content" id="tabs">
    <div class="tab-pane active" id="mycourse">	
		<%= render "mycourse" %>
		<%= will_paginate @my_courses, :param_name => 'mycourse_page' %>
	</div>
    <div class="tab-pane" id="allcourse">
      <h3>All Courses</h3>
		<%= render "courses" %>
		<%= will_paginate @allcourses, :param_name => 'courses_page' %>
	</div>
    <div class="tab-pane" id="searchresult">
      <% if @course_list.blank? %>
          <h3>No Match Results! List all courses.</h3>
          <%= render "courses" %>
          <%= will_paginate @allcourses, :param_name => 'courses_page' %>
      <% else %>
          <%= render "search" %>
          <%= will_paginate @course_list, :param_name => 'search_page', class: "pagination" %>
      <% end %>
	</div>
    <div class="tab-pane" id="mycart">	
		<%= render "cart" %>
		<%= will_paginate @my_cart, :param_name => 'mycart_page' %>	
	</div>
  </div>
</div>

<%= stylesheet_link_tag 'gmaps4rails' %>
<%= gmaps4rails(@course_map.to_gmaps4rails )%>


<!-- javascript -->
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
	<script src="javascripts/bootstrap.js"></script>
	<script src="javascripts/student.js"></script>