<p>
  <b>Email:</b>
  <%= @student.email %>
</p>

<p>
  <b>Name:</b>
  <%= @student.name %>
</p>

<p>
<b>My Role</b>
    <% if @student.has_role? :user %>
    <li>
	User
    </li>
    <% end %>
    <% if @student.has_role? :admin %>
    <li>
    	Admin  
    </li>
    <% end %>
    <% if @student.has_role? :mentor %>
    <li>
    	Mentor
    </li>
    <% end %>
    <% if @student.has_role? :student %>
    <li>
    	Student
    </li>
    <% end %>
</p>


<b>My Cart</b>
<table>
<tr>
	<td>Course Name</td>
	<td>Price</td>
	<td>Capacity</td>
</tr>
<% @my_cart.each do |course| %>
  <tr>
    	<td><%= course.name %></td>
    	<td><%= course.price %></td>
    	<td><%= course.capacity %></td>
  </tr>
<% end %>
</table>
<td> Total price is <%= @total_price %></td>
<%= button_to("Empty Cart", {:controller => "students", :action => "EmptyCart"}, :remote => false, confirm: 'Are you sure to empty the cart?') %>
<%= button_to("Checkout", credit_cards_url, method: :get, :remote => false) %>


<b>My Courses</b>
<table>
<tr>
	<td>Course Name</td>
	<td>Price</td>
	<td>Capacity</td>
</tr>
<% @my_courses.each do |course| %>
  <tr>
    	<td><%= course.name %></td>
    	<td><%= course.price %></td>		
    	<td><%= course.capacity %></td>
  </tr>
<% end %>
</table>



<b>All Courses</b>
<table>
<tr>
	<td>Course Name</td>
	<td>Price</td>
	<td>Capacity</td>
</tr>
<% @courses.each do |course| %>
<tr>
	<td><%= course.name %></td>
	<td><%= course.price %></td>		
	<td><%= course.capacity %></td>
	<td><%= button_to("Add to Cart", {:controller => "students", :action => "addtoCart", :course_id => course.id}, :remote => false) %></td>	
</tr>
<% end %>

</table>


<%= link_to 'Back to Homepage', root_url %>
