<p id="notice"><%= notice %></p>

<h3>My User Profile</h3>
<p>
  <b>User Name:</b>
  <%= @user.name %>
</p>


<p>
  <b>User Email:</b>
  <%= @user.email %>
</p>

<p>
<b>Your Role</b>
    <% if current_user.has_role? :user %>
    <li>
	User
    </li>
    <% end %>
    <% if current_user.has_role? :admin %>
    <li>
    	Admin  
    </li>
    <% end %>
    <% if current_user.has_role? :mentor %>
    <li>
    	Mentor
    </li>
    <% end %>
    <% if current_user.has_role? :student %>
    <li>
    	Student
    </li>
    <% end %>
</p>

<% unless @user.has_role? :mentor %>
  <%= button_to('Want to be a Mentor', addMentor_url, :confirm => 'Want to be a Mentor?') %>
<% end %>
<% unless @user.has_role? :student %>
  <%= button_to('Want to be a Student', addStudent_url, :confirm => 'Want to be a Student?') %>
<% end %>

<br />
