<%= simple_form_for(@credit_card) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs>
    <%= f.input :number, :required => true, :autofocus => true %>
    <%= f.select :card_type, CreditCard::PAYMENT_TYPES %>
    <%= f.input :first_name, :required => true %>
    <%= f.input :last_name, :required => true %>
    <%= f.input :month, :required => true %>
    <%= f.input :year, :required => true %>
    <%= f.input :verification_value, :required => true %>
    <%= f.input :billing_address, :required => true %>
    <%= f.button :submit, "Create Credit Card", class: "btn btn-large btn-success" %>
  </div>
<% end %>

