<div class="ipad tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active">
		<a href="#mycourse" data-toggle="tab"><h4>My courses</h4></a>
	</li>
    <li>
		<a href="#allcourse" data-toggle="tab"><h4>All courses</h4></a>
	</li>
    <li>
		<a href="#createcourse" data-toggle="tab"><h4>Create Course</h4></a>
	</li>
  </ul>  
  <div class="tab-content" id="tabs">
    <div class="tab-pane active" id="mycourse">	
	    <%= render "mycourse" %>
		<%= will_paginate @courses, :param_name => 'mycourse_page', class: "pagination"%>
	</div>
    <div class="tab-pane" id="allcourse">		
		<%= render "courses" %>
		<%= will_paginate @allcourses, :param_name => 'courses_page', class: "pagination" %>
	</div>
    <div class="tab-pane" id="createcourse">	
		<%= render "createcourse" %>
	</div>
  </div>
</div>

<%= stylesheet_link_tag 'gmaps4rails' %>
<%= gmaps4rails(@courses.to_gmaps4rails )%>


<!-- javascript -->
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/student.js"></script>