<div class="center3 hero-unit">
  <h2>Sign in</h2>
  <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <%= f.input :email, label: 'Name or Email', :required => false, :autofocus => true %>
      <%= f.input :password, :required => false %>
      <%= f.input :remember_me, :class => "checkbox", :as => :boolean if devise_mapping.rememberable? %>
      <%= f.button :submit, "Sign in", class: "btn btn-large btn-primary" %>
  <% end %>
</div>
